.loaderbac{
    height: 100%;
    width: 100%;
    background: #ffffff;
    position: absolute;
    z-index: 999;
}
.loader {
    color: #39629c;
    position: absolute;
    left: 50%;
    top: 50%;
    text-indent: -9999em;
  }
  
  .loader {
    width: 64px;
    height: 64px;
    background-image: linear-gradient(#f2f2f2 16px, transparent 0), linear-gradient(#39629c 16px, transparent 0), linear-gradient(#39629c 16px, transparent 0), linear-gradient(#f2f2f2 16px, transparent 0);    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left top , left bottom , right top , right bottom;
    animation: rotate 1s linear infinite;
  }
  @keyframes rotate {
    0% {
      width: 64px;
      height: 64px;
      transform: rotate(0deg)
    }
    50% {
      width: 30px;
      height: 30px;
      transform: rotate(180deg)
    }
    100% {
      width: 64px;
      height: 64px;
      transform: rotate(360deg)
    }
  }